body{
    background-color: #313131;
}
span{
    color: #6dc951;
}
.head1{
    color: #ffffff;
    size: 100px;
}
.img1{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 50%;
    border: 10px solid #ffffff;
}
 .split {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #6dc951;
  }
  
  .right {
    right: 0;
    background-color: #6dc951;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  } 